.sign-in-btn {
    display: block;
    padding: 8px 20px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #202020;
    text-decoration: none;
    border-radius: 3px;
    background-color: #3DDC84;
    transition: opacity .3s ease-in-out;
    opacity: 1;
  }
  
  .sign-in-btn:hover {
    opacity: .6;
  }
  
  @media screen and (max-width: 320px) {
    .sign-in-btn {
      font-size: 10px;
      line-height: 1.6;
    }
  }