@import url('../../vendor/normalize.css');
@import url('../../vendor/Inter/inter.css');

.App {
  background-color: #202020;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #FFFFFF;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .page-container {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .page-container {
    max-width: 320px;
  }
}