.navigation {
    display: flex;
    flex-direction: row;
  }
  
  .navigation__link {
    margin-right: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.28;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
    text-decoration: none;
    transition: opacity .3s ease-in-out;
    opacity: 1;
  }
  
  .navigation__link:last-of-type {
    margin-right: 0;
  }
  
  .navigation__link:hover {
    opacity: .6;
  }
  
  .navigation__link_is-active {
    font-weight: 500;
  }
  
  @media screen and (max-width: 320px) {
    .navigation__link {
      font-size: 10px;
      line-height: 1.6;
    }
  }