.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 74px;
    padding: 0 70px;
    box-sizing: border-box;
  }
  
  .header__nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
  }
  
  .header__nav-wrapper_type_unauth {
    max-width: 183px;
  }
  
  .header__nav-wrapper_type_auth {
    max-width: 381px;
  }
  
  @media screen and (max-width: 900px) {
    .header {
      padding: 0 30px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .header {
      padding: 0 14px;
    }
  }

  .sign-in-btn {
    display: block;
    padding: 8px 20px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #202020;
    text-decoration: none;
    border-radius: 3px;
    background-color: #3DDC84;
    transition: opacity .3s ease-in-out;
    opacity: 1;
  }
  
  .sign-in-btn:hover {
    opacity: .6;
  }
  
  @media screen and (max-width: 320px) {
    .sign-in-btn {
      font-size: 10px;
      line-height: 1.6;
    }
  }

  .profile-btn {
    width: 100px;
    height: 32px;
    margin: 0;
    padding: 0;
    background-color: #202020;
    background-image: url('../../images/profile.svg');
    background-position: top;
    border: none;
    border-radius: 20%;
  }
  
  .profile-btn:hover {
    opacity: .6;
  }

  .menu-btn {
    width: 44px;
    height: 44px;
    background-color: #202020;
    background-image: url('../../images/open.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    transition: opacity .3s ease-in-out;
    opacity: 1;
  }
  
  .menu-btn:focus {
    outline: none;
  }
  
  .menu-btn:hover {
    cursor: pointer;
    opacity: .6;
  }
  
  @media screen and (max-width: 320px) {
    .menu-btn {
      width: 40px;
      height: 43px;
    }
  }