.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 79px 70px 20px 70px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
  }
  
  .footer__main-text {
    margin: 0 0 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
    color: #8B8B8B;
  }
  
  .footer__rights-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #424242;
  }
  
  .footer__copyrights {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
    color: #FFF;
  }
  
  .footer__rights-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .footer__rights-item {
    margin-right: 20px;
  }
  
  .footer__rights-item:last-of-type {
    margin-right: 0;
  }
  
  .footer__rights-link {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
    color: #FFF;
    text-decoration: none;
    transition: opacity .3s ease-in-out;
    opacity: 1;
  }
  
  .footer__rights-link:hover  {
    opacity: .6;
  }
  
  @media screen and (max-width: 460px) {
    .footer {
      padding: 79px 10px 10px 10px;
    }
  
    .footer__main-text {
      margin-bottom: 21px;
      font-size: 12px;
      line-height: 1.25;
    }
  
    .footer__rights-content-wrapper {
      flex-direction: column-reverse;
      align-items: center;
      padding-top: 20px;
      min-height: 129px;
    }
  
    .footer__rights-list {
      flex-direction: column;
    }
  
    .footer__rights-item {
      margin-bottom: 12px;
      margin-right: 0;
      text-align: center;
    }
  
    .footer__rights-item:last-of-type {
      margin-bottom: 0;
      margin-right: 0;
    }
  
    .footer__rights-link {
      font-size: 12px;
      line-height: 1.25;
    }
  
    .footer__copyrights {
      font-size: 12px;
      line-height: 1.25;
      color: #8B8B8B;
    }
  
    }