.nav-tab {

}

.nav-tab__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-tab__list-item {
  margin-right: 10px;
}

.nav-tab__list-item:last-of-type {
  margin-right: 0;
}

.nav-tab__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 36px;
  border-radius: 10px;
  background-color: #303030;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: #FFF;
  text-decoration: none;
  transition: opacity .3s ease-in-out;
  opacity: 1;
}

.nav-tab__link:hover {
  opacity: .6;
}

@media screen and (max-width: 320px) {
  .nav-tab__list-item {
    margin-right: 6px;
  }

  .nav-tab__link {
    width: 82px;
    height: 26px;
    font-size: 10px;
  }

}